*{
    background-color: rgba(255, 19, 19, 0.609),
}

*{
    background-color: rgba(52, 106, 255, 0.609),
}

*{
    background-color: rgba(9, 255, 0, 0.609),
}




.treinoA {
    background-color: rgba(197, 0, 0, 0.609),
}

.treinoB {
    background-color: rgba(22, 189, 16, 0.609),
}

.treinoC {
    background-color: rgba(0, 115, 182, 0.609),
}